.blog-card {
  display: flex;
  align-items: center;
  margin: 20px 50px;
  height: 700px;
  background-color: rgb(24, 24, 24);
}

.talleres-texto {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.talleres-texto h3 {
  margin: 20px;
  font-size: 20px;
}

.talleres-texto p {
  margin: 5px 90px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

.cart-buy-finish {
  width: auto;
  margin: 5px 230px;
  background-color: #227447;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.talleres-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.talleres-img img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
