.overlay {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: rgba(0, 0, 0, 0.847);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.closeButton {
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
}

.emptyCartMessage {
    text-align: center;
    padding: 10px;
    top: 50%;
    left: 50%;
}

.emptyCartMessage h2 {
    margin: 30px;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5)
}

.cart h3 {
    margin-top: 5px;
    font-weight: bold;
    color: black;
}

.cart-button {
    display: flex;
    justify-content: center;
}

.cart-button button {
    margin: 10px 5px;
    width: 140px;
    height: 32px;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .overlay {
        top: 45%;
        width: 360px;
    }

    .cart {
        top: 60%;
        width: 330px;
    }

    .cart h3 {
        font-size: 16px;
    }

    .cart-button button {
        width: 122px;
    }
}