header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 40px;
}

.logo img {
    width: 70px;
    height: 60px;
    margin: 0px 20px;
}

.logo-texto h2 {
    font-size: 24px;
    margin: 0px 0px 12px 0px;
}

.logo-texto h3 {
    font-size: 14px;
}

.nav-cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    margin: 15px 25px;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.nav-item {
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 95px;
    z-index: 10;
    left: 982px;
    text-align: center;
}
  
.dropdown-content a {
    font-size: 16px;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    color: #ffffff;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 500px) {
    .logo {
        margin: 0px 5px;
    }

    .logo img {
        width: 40px;
        height: 35px;
        margin: 0px 5px;
    }

    .logo-texto h2 {
        font-size: 16px;
        margin: 0px 0px 6px 0px;
    }

    .logo-texto h3 {
        font-size: 10px;
    }

    li {
        font-size: 12px;
        margin: 5px 5px;
    }

    .dropdown-content {
        width: 100%;
        left: 0;
    }
}
