.footer {
    background-color: rgb(24, 24, 24);
}

.footer h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.footer-socialnetworks {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socialnetworks a img {
    padding: 10px;
    margin: 0px 5px;
    height: 65px;
    width: 65px;
}

.footer-copyright {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.img-logo-footer {
    height: 21px;
    width: 100px;
    margin-top: 1px;
    margin-left: 4px;
}