.cart-item {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: black;
    text-align: center;
    align-items: center;
}

.cart-item h3,
p,
button {
    margin: 5px;
}

.cart-item button {
    width: 140px;
    height: 32px;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .cart-item h3, p {
        font-size: 14px;
    }

    .cart-item button {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
}