.checkout h2 {
    margin: 20px;
}

.checkout-productos p {
    margin: 10px;
}

.checkout-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-formulario label {
    font-size: 15px;
    margin: 10px;
}

.checkout-formulario input {
    font-size: 15px;
    width: 300px;
    height: 25px;
}

.checkout-form h3 {
    margin: 20px;
}

.checkout-form button {
    margin: 20px;
    width: 220px;
    height: 40px;
    background-color: #227447;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
    
    .modal-content {
        margin-top: 20px;
    }
    
    .checkout-form {
       margin-top: 200px;
       height: 700px;
    }
}